.welcome-header {
  margin: 90px 0;
  /* 텍스트를 정렬할 때는 display:flex 보다 text-align을 사용한다. */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  )line-height: 1.3;
}

#login-form {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}

#login-form input {
  padding: 15px 0;
  font-size: 17px;
  border: none;
}

/* #login-form input:not([type="submit"])이 #login-form input:focus 보다 먼저 와야한다.
  이유는 borer-bottom이 정의되지 않은 상태에서 border-color를 정의해줘도 border가 없으니 정의가 불가능하다.
  또한 border-color가 정의 되어야 transition이 정의되기 때문이다. 
  :not(selector) { style properties } */
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.5s ease-in-out;
}

#login-form input:nth-child(2) {
  margin-bottom: 40px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#login-form input:focus {
  border-color: black;
}

#login-form input[type="submit"] {
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 10px;
}

#login-form a {
  padding: 5px 0px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 13px;
}
