.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
  padding-right: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.settings__setting-column {
  display: flex;
  align-items: center;
}

.settings__setting-column:last-child {
  color: var(--font-color);
}

.settings__setting:nth-child(3),
.settings__setting:nth-child(13) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  padding-bottom: 30px;
}

.settings__setting:nth-child(4),
.settings__setting:last-child {
  padding-top: 30px;
}

.settings__reddot {
  padding: 3px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  margin-left: 5px;
}
