.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
  padding-right: 10px;
}

.settings__setting-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__setting-column:last-child {
  color: var(--font-color);
}

.settings__setting-column__icon {
}

.settings__setting-column__text {
}
